* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{
  --primary: black;
  --secondary: white;
  --tertiary: #FF0000;

}

body {
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: var(--primary);
  overflow-x: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

}

.logo {
  position: absolute;
  top: 10%;
  left: 15%;
  max-width: 75%;
}

.chips {
  position: relative;
  max-width: 100%;
}

.title {
  margin-left: 15px;
  font-size: 2.1em;
  font-family: "Anthemie";
  text-decoration: none;
  color: black;
  src: url("../css/Anthemie.ttf");
}

.topnav {
  overflow: hidden;
  background-color: white;
  position: relative;
  margin-bottom: 20px;
}

.topnav #nav-links {
  display: none;
  text-align: right;
}

.topnav a {
  font-size: 17px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 14px 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: block;
}

.topnav a.icon {
  color: black;
  display: block;
  position: absolute;
  right: 0;
  top: -5px;
}

a:hover {
  color: red;
}

p {
  margin-bottom: 1.5em;
  color: white;
}

h1 {
  font-size: 1.2em;
  margin-top: 0px;
  color: white;
}

h2,
h3 {
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.main-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  color: white;
  border-top: 3px solid white;
  padding: 15px 0 15px 0;
  width: 100%;
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  background-color: white;
  color: black;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
  background-color: black;
  color: white;
  border: solid 2px;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: left;
  color: white;
  padding-left: 30px;
}

label {
  padding-top: 10px;
}

input {
  margin-top: 5px;
}

button[type="submit"] {
  width: 120px;
  height: 40px;
  font-size: 1.5em;
  background-color: white;
  color: black;
  border: 2px solid black;
  text-align: center;
  margin-top: 10px;
  border-radius: 10%;
  transition: .5s ease background-color;
}

button[type="submit"]:hover {
  background-color: gray;
  color: black;
}

.buttons {
  padding-top: 20px;
}

#status {
  width: 50%;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
  color: white;
  padding-top: 5px;
}

#status.success {
  background-color: lightgreen;
  color: black;
  animation: status 4s ease forwards;
}

#status.error {
  background-color: red;
  color: black;
  animation: status 4s ease forwards;
}

@keyframes status {
  0%{
    opacity: 1;
    pointer-events: all;
  }

  90%{
    opacity: 1;
    pointer-events: all;
  }

  100%{
    opacity: 0;
    pointer-events: none;
  }
}
  .nav-links li {
    opacity: 0;
  }

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }

  to{
    opacity: 1;
    transform: translateX(0px);

  } 
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}


/* ============== 
  Media Queries  |
================= */


/*  Small tablets */

@media screen and (min-width: 620px) {


}

/*  Large tablets/laptops */

@media screen and (min-width: 960px) {

  nav a:hover {
    background-color: #FF0000;
    color: black;
  }
}

/*  Desktop */

@media screen and (min-width: 1200px) {

  nav a:hover {
    background-color: #FF0000;
    color: black;
  }
}



/* GOOGLE SHEETS STYLING

/* #MyTable {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-collapse: collapse;
}

#MyTable td, #MyTable th {
  border: 1px solid  #ddd;
  border-style: solid none solid none;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 2rem;
  width: 100%;
  max-width: 640px;
}

#MyTable tr:nth-child(even){background-color: #f2f2f2;}

#MyTable tr:hover {background-color: #ddd;}

#MyTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #FF0000;
  color: white;
}

p {
  font-family: Verdana, Geneva, sans-serif;
  border-collapse: collapse;
  font-size: 2rem;
}

.pushbtn {
  background-color: #FF0000;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 12px;
}

.dropbtn {
  background-color: #FF0000;
  color: white;
  padding: 16px;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  border-radius: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 3rem;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #FF0000;
  background-color: Gray;
} */